body {
    background-color: #000000;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex > div {
    flex: 30%;
  }
  .box {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 35px;
    color: #ffffff;
  }
  